*{
  box-sizing: border-box;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header header header' 
    'middle middle middle middle middle middle right right' 
    'footer footer footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle,
.right {
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  padding: 10px;
  
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right' 
      'footer footer footer footer footer footer';
  }
}

  body {
  background-image: url("../images/skin.jpg");
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  color: #080808;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}


h1, h2,  h4, h5, h6 {
  color: #fdfdfd;
}

.bg-steel {
  background-color: #081036;
}
.dropdown-toggle{
  padding-top: 7px;

}

.dropdown-menu{
  background-color: #25262b;
  
}
.btn-group{
  color: #c09c24;
}
.site-header .navbar-nav .nav-link {
  color: #c09c24;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff56;
}



.col{
  padding-right: 45px;
  margin-right: auto;
  margin-left: auto;
 
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.invisible {
  visibility: hidden;
}
.carousel-inner{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.navbar-fixed-top {height: 40px;}
.navbar-brand img {height: 40px;}

.item img {
  position: relative;
  width: 1000px;
  height: 500px !important ;
  display: none;
 
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.content-section { 
  background: #adb7e2c7;
  padding: 10px 20px;
  border: 1px solid #00000010;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-right: 45px;
 
}

.article-title {
  color: #000000;
}

a.article-title:hover {
  color: #afcae2;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #161515
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}